.one-click-img-wrap{
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	z-index: 99999;
	overflow: scroll;
	text-align: center;
	direction: ltr;
	background: white;
}
#one-click-img-canvas{
	width: 100%;
}
.one-click-cover{
	z-index: 9999999;
	position: fixed;
	top:0;
	display: none;
	width: 100%;
	cursor: pointer
}
.click1-picker-mode .one-click-cover{
	display: block;
}
.one-click-cover-color{
	width: 700px;
	height: 40px;
	padding: 10px 0;
	background: rgba(0,0,0,0.3);
}
.one-click-cover-input{
	margin: 0 10px;
}
.one-click-cover-example{
	height: 20px;
	width: 20px;
	border: 1px solid black;
	outline: 1px solid white;
	display: none;
}
.one-click-cover-color-selected .one-click-cover-example{
	display: inline-block;
}
.one-click-cover-color-selected .one-click-cover-before-select{
	display: none;
}